.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 900px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    padding: 24px 36px;
}