.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    width: 900px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    padding: 24px 36px;
}

.delete-modal {
    width: 40rem;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
}

.delete-modal p{
    font-size: medium;
}

.no-btn {
    background-color: red;
}
