.table-container {
    width: 100%;
    overflow-x: overlay;
    margin-top: 12px;
    border-bottom: 1px solid #9CD5B3;
    position: relative;
}

.table {
    width: 100%;
    min-width: 1200px;
    border-spacing: 0;
}

.table-header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

tr {
    height: 48px;
    line-height: 0;
}


th {
    text-align: left;
    padding: 6px;
    background-color: var(--primary-color);
    border-bottom: 1px solid #067933;
}

th.tb-center {
    text-align: center;
}

th, td {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

th + th, td+td {
    border-left: 1px solid #9CD5B3;
}

td {
    text-align: left;
    padding: 6px;
    border-bottom: 1px solid #9CD5B3;
    background-color: #fff;
}

td.tb-center {
    text-align: center;
}

.edit-btn {
    position: sticky;
    top: 0;
    right: 0;
}

.check-col {
    position: sticky;
    top: 0;
    left: 0;
}
.table td:nth-child(1) {
    width: 7%; /* Độ rộng của cột Số thứ tự */
}
.table td:nth-child(2) {
    width: 10%; /* Độ rộng của cột Số thứ tự */
}
.table td:nth-child(3) {
    width: 15%; /* Độ rộng của cột Số thứ tự */
}

.table td:nth-child(4) {
    width: 7%; /* Độ rộng của cột Số thứ tự */
}
.table td:nth-child(5) {
    width: 10%; /* Độ rộng của cột Số thứ tự */
}
.table td:nth-child(6) {
    width: 20%; /* Độ rộng của cột Số thứ tự */
}
.table td:nth-child(7) {
    width: 20%; /* Độ rộng của cột Số thứ tự */
}


.edit-btn, .delete-btn {
    padding: 5px 5px;
    margin-right: 5px;
    cursor: pointer;
}

.edit-btn, .delete-btn {
    color: black;
    font-size: 14px;
    border-radius: 4px;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #c1cdd9;  /* Màu hơi đậm hơn khi hover */
}

